// this is the scss file inwhich i will be styling the footer

footer {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: lightgrey;
}

@media (max-width: 1000px) {
  footer {
    height: 50vh;
    flex-direction: column;
  }
}
